includes:
    - vendor/larastan/larastan/extension.neon

services:
        -
            class: Makeitlv\Lavstore\Tests\Architecture\OnionArchitectureTest
            tags: [phpat.test]

parameters:

    paths:
        - app/
        - tests/Architecture/

    # Level 9 is the highest level
    level: 9